<launch>

    <group ns="philbart">

        <!-- Add OAK-D Camera and link -->
        <include file="$(find depthai_examples)/launch/yolov4_publisher.launch"/>
        <node pkg="tf" type="static_transform_publisher" name="base_to_oak_d" args="0.15 0 0.575 0 -0.3490659 0 philbart/base_link philbart/oak-d-base-frame  100"/>

        <!-- Add Launch pointcloud to laserscan node -->
        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pcl_to_scan_node">
            <remap from="cloud_in" to="/philbart/lidar_points" />
            <remap from="scan" to="pcl_scan" />
            <param name="max_height" value="-.15"/>
            <param name="min_height" value="-.40"/>
            <param name="angle_increment" value="0.012271846"/> <!-- /philbart/lidar_points has 2pi/512 resolution (the 512 in 512x10)-->
            <param name="scan_time" value="0.1" /> <!-- /philbart/lidar_points runs at 10 Hz (the 10 in 512x10)-->
        </node>

        <!-- Launch leg tracker node -->
        <include file="$(find leg_tracker)/launch/philbart_leg_tracker.launch"/>

        <!-- Launch leg tracker robofleet client node -->
        <node pkg="robofleet_client" type="client" name="leg_tracker_rbf_client" args="$(find hri_bringup)/config/philbart_robofleet.yaml"/>
    </group>

</launch>