<launch>

    <group ns="body_recognizer">
        <!-- Launch the depthai_ros camera with yolov4 -->
        <include file="$(find depthai_examples)/launch/yolov4_publisher.launch" />

        <!-- Launch the extractor node -->
        <node pkg="ros_body_recognition" type="body_rec_node" name="body_rec_node" output="screen" >
            <param name="openpose_in_topic" value="/image_view/output" />
            <param name="openpose_out_topic" value="/frame" />
        </node>

        <!-- Launch the ROS OpenPose node -->
        <include file="$(find ros_openpose)/launch/run.launch" >
            <arg name="camera" value="nodepth" />
            <arg name="print" value="false" />
            <arg name="rviz" value="false" />
            <arg name="synchronous" value="false" />
        </include>
    </group>

</launch>
